<div class="card">
    <button class="fs-4 btn btn-link position-absolute top-0 end-0" (click)="addToCart()"><i
            class="bi bi-cart-plus"></i></button>
    <img src={{product.image}} class="pt-2 card-img-top w-100 img-fluid" style="height: 250px; object-fit: contain;"
        alt="...">
    <div class="card-body">
        <h5 class="card-title text-truncate text-secondary-emphasis" title="{{product.title}}">{{product.title}}</h5>
        <h5 class="my-3 text-primary-emphasis">{{product.price}}</h5>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-1 text-center" style="z-index: 9999999;">
    <ngb-toast *ngIf="showAddToCartToast" [autohide]="true" (hidden)="showAddToCartToast = false" aria-atomic="true"
        [delay]="2000">
        <ng-template ngbToastHeader>
            <div class="me-auto" style="color: black">
                <i class="bi bi-cart-plus"></i> Ajouté au Panier
            </div>
        </ng-template>
        <img src={{product.image}} class="mb-2 w-100 img-fluid" style="height: 50px; object-fit: contain;">
        <div>{{product.title}}</div>
    </ngb-toast>
</div>